.container{style: 'background: green; width: 1200px;'}
  .footer
    .footer-partners
      .pure-g-r
        .pure-u-1-12<> 
        .pure-u-1-6<>
          %img.partner{alt:'Podmedics', src:'https://d589j1w8ayj7e.cloudfront.net/attachments/partners/logos/footer/1/41e19c8b491fe626772ff6dedad40dac.png'}
        .pure-u-1-6<>
          %img.partner{alt:'MPS', src:'https://d589j1w8ayj7e.cloudfront.net/attachments/partners/logos/footer/4/7a2fddedfe4292b69422130d5b219182.jpg'}
        .pure-u-1-6<>
          %img.partner{alt:'Reed Elsevier', src:'https://d589j1w8ayj7e.cloudfront.net/attachments/partners/logos/footer/8/fcab5d4ecfe51cebaac49ee9bf7745ae.png', style:'position: relative; left: -30px'}
        .pure-u-1-6<>
          %img.partner{alt:'Kluwer', src:'https://d589j1w8ayj7e.cloudfront.net/attachments/partners/logos/footer/9/1b53830b8313cebfc269fadc842471ae.jpg'}
        .pure-u-1-6<>
          %img.partner{alt:'kenHub', src:'https://d589j1w8ayj7e.cloudfront.net/attachments/partners/logos/footer/10/c642082276dba473c82b1f8cfba7564c.png', style:'float: right'}
        .pure-u-1-12<>
    .footer-links
      .pure-g-r
        .pure-u-1-12<> 
        .pure-u-5-6<>
          %span &copy; 2007 - 2013
          .pull-right
            %a{href:'#'} Latest News
            %a{href:'#'} Help
            %a{href:'#'} Who Runs Meducation?
            %a{href:'#'} Terms & Conditions
            %a{href:'#'} Privacy Policy
        .pure-u-1-12<> 
    
    

