@import 'pure-min.css';
@import 'css_toolkit.css.scss';

body {
  margin: 0;
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"],
.pure-g-r {
  /* Set you're content font stack here: */
  font-family: "museo-sans";
  letter-spacing: 0;
}

.pure-g-r {
  height: auto;
  min-height: 0;
}

#container {
  margin: auto;
  width: 700px;
}

.pure-g-r > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    padding: 1em;
}

.arrow_box {
	position: relative;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #eee;
	border-width: 10px;
	top: 50%;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #aaa;
	border-width: 11px;
	top: 50%;
	margin-top: -11px;
}

/*
 * Site-wide links/buttons
 */

.reputation, .badge {
  text-decoration: none;
  display: inline;
  padding: 0.5rem 1rem;
  margin:5px 0px;
  border-radius: 25px;
  font-size:1.2rem;
  color: #fff;
}

.reputation {
  background: #e05e20;
}
.badge {
  background: #666;
}

.voteup, .votedown {
  text-decoration: none;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 8rem;
}
.voteup {
  background: darkblue;
}
.votedown {
  background: lightblue;
}
.votecount {
  font-size: 2.6rem;
  text-align: center;
}

.commentvoteup, .commentvotedown {
  text-decoration: none;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 2rem;
}
.commentvoteup {
  background: green;
}
.commentvotedown {
  background: red;
}
.commentvotecount {
  display: inline-block;
  padding: 2px 5px ;
  font-size: 1.6rem;
}

@import 'content.css.scss';
@import 'comment.css.scss';
@import 'footer.css.scss';
