.comment {
    .photo {
        border-radius:100%;
        border:1px solid #aaa;
    }
    .container {
        border:1px solid #ccc;

        .header {
            background: #eee;
            padding:1rem 0;
            a.name {
                font-size: 1.4rem;
                margin-left:1rem;
                color:#000;
            }
            &>* {
                margin:0 0.5rem;
            }
        }

        .contents {
            font-size: 1.4rem;
            padding:1rem;
        }

        .role {
          font-size: 1.2rem;
        }

        .footer {
            border-top:1px solid #eee;
            font-size: 1.2rem;
            padding:1rem;
            color:#aaa;
            .spam, .report {
                color:#aaa;
            }
            .spam {
                padding-right:1rem;
            }
        }
    }
}
