.comment {
    .photo {
        border-radius:100%;
        border:1px solid #aaa;
    }
    .container {
        border: 1px solid #ddd;

        .header {
            background:#ddd;
            a {
                font-size: 1.6rem;
                &.name {
                    color:black;
                }
            }
        }

        .contents {
            font-size: 1.4rem;
        }

        .role {
            font-size: 1.2rem;
        }

        .footer {
            font-size: 1.2rem;
        }
    }
}
