.comment {
    .photo {
        border-radius:100%;
        border:1px solid #aaa;
    }
    .container {
        border:1px solid #ccc;

        .header {
            background: #eee;
            a.name {
                font-size: 1.4rem;
                color:#000;
            }
            &>* {
                padding:1em;
            }
        }

        .contents {
            font-size: 1.4rem;
        }

        .role {
          font-size: 1.2rem;
        }

        .footer {
          font-size: 1.2rem;
        }
    }
}
