.friend_recommendations {
    border:1px solid #aaa;
}
.friend_recommendation_header {
  font-size: 1.6rem;
  padding:2px 5px ;
}
.friend_recommendation {
  padding: 2px;
}
.frienddetails {
  padding: 0.5rem 1.0rem;
}
.friendname {
  font-size: 1.4rem;
  line-height: 1.5rem;
}
.friendrole {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color:#aaa;
}
.friend_x {
  font-size: 1.0rem;
  color:#aaa;
  float: right;
  padding: 4px;
}
.friend_recommendation_photo {
    border-radius:100%;
}
.invite {
  color: #fff;
  background: #1489DB;
  font-size: 1.6rem;
}