.comment.pure-g-r{style: 'background: white;'}
    .pure-u-1-8
        %img.photo{src: 'http://placekitten.com/60/60'}
    .pure-u-7-8
        .container
            .header.arrow_box
                %a.name{href: '#'} Jeremy&nbsp;Walker
                %a.reputation{href: '#'}
                    %i.fa.fa-star
                    &nbsp;
                    40580
                %a.badge{href: "#"}
                    %i.fa.fa-pagelines
                    &nbsp;
                    Admin
                .like.pull-right
                    LIKE WIDGETS
            .contents
                Bacon ipsum dolor sit amet pancetta ribeye fatback, tail tongue brisket capicola chuck andouille jowl. Swine ball tip ribeye tail.
            .footer
                about 1 year ago
                %a.report.pull-right{href: '#'} Report Comment
                %a.spam.pull-right{href: '#'} Mark as spam
