.friend_recommendations{style: 'background: white;'}
    .friend_recommendation_header
        %i.fa.fa-group  
        %span{style: 'margin: 1rem'} Invite People
    .friend_recommendation.pure-g-r
        .friendimage.pure-u-1-4
            %img.friend_recommendation_photo{src: 'http://placekitten.com/40/40'}
        .frienddetails.pure-u-5-8
            .friendname Alastair Buick
            .friendrole Medical Doctor
            .friend_recommendation_invite
                %a.pure-button{href: '#'}
                    Invite Fluffy
        .pure-u-1-8
            %a.friend_x{href: "#"}
                %i.fa.fa-times


